mixin formItem(title, type = '', name, placeholder='', fileUpload, selectMode,  note, error)
  label.form-item
    if title
      .form-item__title=title
    .form-item__content
      if fileUpload
        input(type="file" name=name placeholder=placeholder accept='image/png, image/jpg, image/jpeg').form-item__element.form-item__file
        .form-item__camera 
          img(src="./assets/camera.svg", alt="#")
      else
        if selectMode
          select(name=name placeholder=placeholder required).form-item__element.form-item__select
            option(value='' disabled selected hidden).form-item__select-ph Select 
            option China 
            option Ukraine 
            option France 
            option Greece
          .form-item__arrows 
            img(src="./assets/arrows.svg", alt="#")
        else
          input(type=type, name=name placeholder=placeholder).form-item__element
      if error
        .form-item__note--error='Error'
      else
        .form-item__note=note

